{% extends 'base.html' %}
{% load static %}
{% block title%}
    <title>My TODO</title>
{% endblock %}
{% block content%}
<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
            <div class="container pt-4">
                <div class="row  p-0 mt-4">
                  <div class="col-lg-4 mx-auto shadow p-0">
                    <div class="alert alert-info">
                      <h2>Add New TODO</h2>
                    </div>
                    <div class="wrap-login100 p-4 col-lg-12 mx-auto ">
                        <form class="login100-form validate-form " method="POST" action="/add-todo/">
                            {% csrf_token %}
                            {% if error %}
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        {{error}}
							        </div>
		                        </div>    
                	        {% endif %}
        
                            <div class="wrap-input100 validate-input m-b-15" data-validate = "Title required">
                                <span class="label-input100">Title</span>
                                <input class="input100" type="text" name="title" placeholder="Enter Title">
                            <!--<span class="focus-input100" data-symbol="&#xf206;"></span>-->
                            </div>
        
                            <div class="wrap-input100 validate-input m-b-15" data-validate="Status required">
                                <span class="label-input100">Status : </span>
                                <select name="status" id="status" class="m-b-15">
                                    <option value="P">Pending</option>
                                    <option value="C">Completed</option>
                                </select>
                                <span></span>
                            <!--<input class="input100" type="text" name="status" placeholder="Completed or Pending">
                                <span class="focus-input100" data-symbol="&#xf190;"></span>-->
                            </div>
                            
                            <div class="wrap-input100 validate-input m-b-15" data-validate="Priority required">
                                <span class="label-input100">Priority</span>
                                <input class="input100" type="text" name="priority" placeholder="1-10 Any Number">
                            <!--<span class="focus-input100" data-symbol="&#xf190;"></span>-->
                            </div>
                            
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" type="submit">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>         
            
                  <div class="col">
                    <div class="border">
                      {% if todos|length == 0 %}
                      <div class="p-4">
                            <br>
                            <br>
                            <div class="alert alert-info text-center">
                                <p class="" style="font-size: 30px;">No Todos</p>
                            </div>
                            <br>
                            <br>
                      </div>
                      {%else%}
                      <div>
                        <table class="table">
                          <thead>
                            <div>  
                                <tr class="alert alert-info">
                                    <th>Sr No.</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Priority</th>
                                    <th>Action</th>
                                </tr>
                            </div>
                          </thead>
                          <tbody class=" wrap-login100 ">
                            {% for todo in todos %}
                            <tr class="login100-form validate-form">
                                
                              <td>{{forloop.counter}}</td>
                              
                              <td>{{todo.title}}</td>
                              <td>
                                {% if todo.status == 'C'%}
                                ✅
                                {%else%}
                                🕒
                                {%endif%}
                              </td>
                              <td>{{todo.priority}}</td>
                              <td>
                                <a href="/delete-todo/{{todo.id}}" title="Delete" class="">🗑️</a>
                                {% if todo.status == 'P'%}
                                <a href="/change-status/{{todo.id}}/C" title="Mark Completed" class="">✅</a>
                                {%else%}
                                <a href="/change-status/{{todo.id}}/P" title="Mark Pending" class="">🕒</a>
                                {%endif%}
                              </td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                      </div>
                      {%endif%}
            
                    </div>
                  </div>
                </div>
              </div>
		</div>
	</div>
<div id="dropDownSelect1"></div>
{% endblock %}